* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2f343e;
  color: rgb(250, 251, 251);
  line-height: 1.6;
  padding: 30px;
}

header {
  border-bottom: 2px solid #f52e2e;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

header h1 {
  color: crimson;
  font-size: 50px;
  margin-bottom: 24px;
}

header p {
  color: antiquewhite;
  font-size: 14px;
}

section {
  background-color: #1e293b;
  border: 1px solid #2f2020;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 25px;
}

section h2 {
  color: #f1f5f9;
  font-size: 14px;
  margin-bottom: 1px;
  border-left: 11px solid #ae6788;
  padding-left: 10px;
}
ul {
  padding-left: 20px;
  color: rgb(252, 253, 253);
}
ul li {
  margin-bottom: 8px;
}
table {
  border-collapse: collapse;
  margin-top: 10px;
}
table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #f8f8f9;
}

table th {
  background-color: rgb(22, 50, 133);
  /* đặt color chữ */
  color: rgb(250, 251, 251);
  font-weight: lighter;
}

pre {
  background-color: #020617;
  border: 1px solid #334155;
  border-radius: 6px;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 10px;
}
code {
  font-family: "Courier New", Courier, monospace;
  color: #f43f5e;
}
tbody tr:nth-child(odd) {
  background-color: #0f172a;
}
tbody tr:nth-child(even) {
  background-color: #1e293b;
}
/* các attribute selector này được đặt ở dưới để đè lên color default */
/* 1. chỉ tác động lên thẻ tr có thuộc tính là data-rank="S-tier" */
tr[data-rank="S-tier"] {
  background-color: rgba(233, 187, 21, 0.963);
}
/* 1.1 child combinator(>): chr tác động tới thẻ td là con trực tiếp của tr */
tr[data-rank="S-tier"] > td {
  color: #ffffff;
}
/* 2. chỉ tác động lên thẻ tr có thuộc tính là data-rank="A-tier" */
tr[data-rank="A-tier"] {
  background-color: rgba(78, 11, 114, 0.963);
}

tr[data-rank="Common"] {
  background-color: rgba(55, 129, 24, 0.963);
}
table td,
table th {
  font-weight: bolder;
  font-size: larger;
}
h2 + p {
  margin-bottom: 30px;
  color: #94a3b8;
}

tbody tr:hover {
  background-color: #6e99d4;
}

tr td:first-of-type {
  font-weight: 600;
}

tr[data-status="locked"] {
  opacity: 0.35;
}

tr[data-status="draft"] {
  display: none;
}

.placeholder-loading {
  visibility: hidden;
}
